albumentations==1.3.1
av==11.0.0
easydict==1.11
einops==0.7.0
filesplit==3.0.2
imgaug==0.4.0
kornia==0.7.1
lmdb==1.4.1
numpy==1.26.3
opencv-python==4.9.0.80
omegaconf==2.3.0
pyclipper==1.3.0.post5
PyYAML==6.0.1
PySimpleGUI==4.60.5
pandas==2.1.4
pytorch-lightning==2.1.3
protobuf==3.20.0
scikit-image==0.22.0
scikit-learn==1.3.2
tqdm==4.66.1
webdataset==0.2.86